* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --iris: #4d5ae5;
    --navyblue: #2e2f42;
    --black: black;
    --ocean: #404bbf;
    --white: #ffffff;
    --slate: #434455;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --green: #31d0aa;
    --lightslate: #8e8f99;
    --navybluemodal: #2e2f4266;
    --grey: #2e2f42;
    --dairy: #fcfcfc;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--white);
}

img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.list {
    gap: 40px;
    list-style: none;
}

.link {
    list-style: none;
    text-decoration: none;
    color: inherit;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input, textarea {
    outline: none;
}

.active {
    color: var(--ocean);
}

/* page header */

.header {
    border-bottom: 1px solid var(--cornflower);
    background: var(--white);
    padding: 24px 0;
}

.header-logo {
    color: var(--navyblue);
    font-family: Raleway;
    font-size: 18px;
    line-height: 1.17em;
    letter-spacing: 0.54px;
    text-decoration: none;
    text-transform: uppercase;
}

.header-logo-text {
    color: var(--iris);
    font-family: Raleway;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.54px;
}

.menu-toggle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 22px;
    border: 0;
    background: transparent;
    cursor: pointer;
}

.menu-icon {
    fill: var(--navyblue);
}

.menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    padding: 48px 40px 40px 40px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--white);
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    z-index: 50;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 
                0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
                0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
}

.menu-close-btn {
    display: flex;
    background-color: var(--cornflower);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    color: var(--navyblue);
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
    transition-property: background-color, border-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-icon {
    width: 8px;
    height: 8px;
    fill: currentColor;
}

.menu-close-btn:hover,
.menu-close-btn:focus {
    background-color: var(--ocean);
    border-color: var(--ocean);
    color: var(--white);
}

.mobile-menu-list {
    display: flex;
    flex-direction: column;
    column-gap: 40px;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    color: var(--navyblue);
}

.mobile-menu-contact {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.mobile-address-list {
    display: flex;
    flex-direction: column;
}

.mobile-address-link {
    font-style: normal;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: var(--slate);
}

.highlight {
    color: var(--iris);
    font-size: 35px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
}


.mobile-socials-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile-social-link {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: var(--iris);
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    transition: bakground-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-social-link:hover,
.mobile-social-link:focus {
    background-color: var(--ocean);
}

.mobile-socials-icon {
    width: 24px;
    height: 24px;
}

.header-navigation {
    display: inline-flex;
    gap: 76px;
}

.header-nav-list {
    display: none;
}

.header-address {
    display: none;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 428px;
    margin: 0 auto;
    padding: 0 16px;
}

/* main content */

.hero {
    background: var(--navyblue);
    text-align: center;
    padding: 112px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/hero/hero-bg-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero/hero-bg-mobile@2x.jpg);
    }
}

.hero-container {
    text-align: center;
}

.hero-title {
    color: var(--white);
    text-align: center;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.72px;
    margin-bottom: 72px;
}

.hero-cta {
    padding: 16px 32px;
    border-radius: 4px;
    background: var(--iris);
    color: var(--white);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.64px;
    font-family: inherit;
    outline: none;
    border: unset;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-cta:hover,
.hero-cta:focus {
    background-color: var(--ocean);
}

.section-header {
    color: var(--navyblue);
    text-align: center;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.features {
    padding: 96px 0;
}

.features-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.features-list-item {
    width: 100%;
}

.features-list-item-link {
    display: none;
}

.features-list-item-title {
    color: var(--navyblue);
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.72px;
    margin-bottom: 8px;
    text-align: center;
}

.features-list-item-description {
    color: var(--slate);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.service {
    display: none;
}

.service-list {
    list-style-type: none;
    display: none;
}

.team {
    background: var(--cloud);
    padding: 96px 0px;
}

.team-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 72px;
}

.team-list-items {
    background: var(--white);
    border: 1px solid var(--cornflower);
    border-radius: 0px 0px 4px 4px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 
                0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
                0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 264px;
}

.team-list-items:hover,
.team-list-items:focus {
    box-shadow: 0px 4px 2px 0px rgba(46, 47, 66, 0.08), 
                0px 2px 1px 0px rgba(46, 47, 66, 0.16), 
                0px 2px 7px 0px rgba(46, 47, 66, 0.08);
}

.team-description {
    padding: 32px 16px;
}

.team-list-name {
    color: var(--navyblue);
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

.team-list-position {
    color: var(--slate);
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin-bottom: 8px;
}

.social-media-links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
}

.social-media-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--iris);
    border-radius: 20px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link-icon {
    width: 16px;
    height: 16px;
}

.social-media-link:hover {
    background-color: var(--ocean);
}

.customers {
    padding: 96px 0;
}

.customers-logo {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
    row-gap: 72px;
}

.customers-logo-items {
    display: flex;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--lightslate);
    width: 190px;
    height: 88px;
    justify-content: center;
    color: var(--lightslate);
    transition-property: color, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-logo-link {
    padding: 16px 40px;
    color: var(--lightslate);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-logo-icon {
    width: 110px;
    height: 56px;
    align-items: center;
    fill: currentColor;
    transition: fill;
}

.customers-logo-items:hover {
    border-color: var(--ocean);
}

.customers-logo-items:hover .customers-logo-link {
    color: var(--ocean);
}


/* page footer */


.section-footer {
    background: var(--navyblue);
    padding: 100px 0;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 72px;
}

.footer-container-logo {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 17.5px;
}

.footer-logo {
    color: var(--cloud);
    font-family: Raleway;
    font-size: 18px;
    line-height: 1.17em;
    letter-spacing: 0.54px;
    text-decoration: none;
    text-transform: uppercase;
}

.footer-logo-text {
    color: var(--iris);
    font-family: Raleway;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.54px;
}

.footer-icons {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.footer-description {
    color: var(--cloud);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.footer-container .logo {
    color: var(--cloud);
    font-family: Raleway;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.54px;
    margin-bottom: 17.5px;
}

.footer-link {
    color: var(--white);
    line-height: 24px;
    font-size: 16px;
    letter-spacing: 0.32px;
    font-weight: 500;
}

.footer-link-lists {
    list-style: none;
    display: flex;
    column-gap: 16px;
    align-items: center;
}

.footer-link-list-items {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--iris);
    border-radius: 20px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-list-item {
    display: flex;
}

.footer-link-list-icon {
    width: 24px;
    height: 24px;
}

.footer-link-list-items:hover {
    background-color: var(--green);
}

.subscribe {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    width: 100%;
}

.footer-subscribe {
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.footer-subscribe-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.footer-label-input {
    width: 100%;
    height: 40px;
    padding: 8px 0px 8px 16px;
    border-radius: 4px;
    border: 1px solid var(--white);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background: var(--navyblue);
    color: var(--white);
    font-family: inherit;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.48px;
}

.footer-label-input::placeholder {
    color: var(--white);
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.48px;
}

.footer-subscribe-btn {
    display: flex;
    width: 165px;
    height: 40px;
    align-items: center;
    justify-content: center;
    align-self: center;
    background: var(--iris);
    border-radius: 4px;
    border: none;
    color: var(--white);
    gap: 16px;
    padding: 8px 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn-icon {
    width: 24px;
    height: 24px;
}

.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus {
    background-color: var(--ocean);
}

/* portfolio page */


.portfolio-buttons {
    padding: 48px 0;
}

.portfolio-buttons-cta {
    list-style: none;
    border-radius: 4px;
    border: 1px solid var(--cornflower);
    background: var(--cloud);
    color: var(--iris);
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.64px;
    font-family: inherit;
    outline: none;
    padding: 12px 24px;
    cursor: pointer;
    transition-property: background-color, border, box-shadow, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-buttons-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: flex-start;
    align-items: center;
}

.portfolio-buttons-cta:hover,
.portfolio-buttons-cta:focus {
    background-color: var(--ocean);
    color: var(--white);
    border: 1px solid var(--ocean);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 
                0px 2px 1px 0px rgba(0, 0, 0, 0.08), 
                0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.portfolio-images {
    padding-bottom: 48px;
}

.portfolio-images-title {
    color: var(--navyblue);
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

.portfolio-images-details {
    padding: 32px 16px;
}

.portfolio-images-description {
    color: var(--slate);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.portfolio-images-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    column-gap: 48px;
}

.portfolio-images-items {
    width: 100%;
    border: 1px solid var(--cornflower);
    background: var(--white);
    transition-property: border, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-images-items:hover,
.portfolio-images-items:focus {
    border: 1px solid var(--cloud);
    background: var(--white);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 
                0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
                0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-card {
    position: relative;
    overflow: hidden;
}

.portfolio-card-caption {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: var(--iris);
    padding: 40px 32px 164px;
    color: var(--cloud);
    line-height: 24px;
    letter-spacing: 0.32px;
    text-align: left;
    align-items: center;
    display: flex;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
}

.portfolio-images-items:hover .portfolio-card-caption {
    transform: translateY(0);
}

/* modal contents */

.modal {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: var(--navybluemodal);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    pointer-events: auto;
    transition-property: visibility, opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
 
.modal.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal.is-hidden .modal-content {
    transform: scale(0.5);
}

.modal-content {
    max-width: 320px;
    width: 100vw;
    flex-shrink: 0;
    background: var(--dairy);
    border-radius: 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 
                0px 1px 3px 0px rgba(0, 0, 0, 0.12), 
                0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    position: relative;
    transform: none;
    padding: 72px 16px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 428px) {
    .modal-content {
        max-width: 408px;
        height: 584px;
    }
}

.modal-close-link {
    color: var(--navyblue);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
    width: 8px;
    height: 8px;
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.10);
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cornflower);
    border-radius: 50px;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 24px;
    right: 24px;
    color: var(--navyblue);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition-property: background-color, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover {
    background-color: var(--ocean);
    border-color: var(--ocean);
}

.modal-close:hover .modal-close-link {
    color: var(--white);
}

/* modal content */

.user-contact-heading {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: var(--navyblue);
    text-align: center;
    margin-bottom: 16px;
}

.modal-body {
    max-width: 100%;
}

.form-label {
    color: var(--lightslate);
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.48px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 4px;
    margin-bottom: 8px;
}

.form-label:nth-child(4) {
    margin-bottom: 16px;
}

.form-icon {
    width: 18px;
    height: 24px;
    position: absolute;
    transform: translateY(110%);
    left: 30px;
    fill: var(--navyblue);
    transition-property: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label-text {
    display: block;
    color: var(--lightslate);
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.48px;
}

.form-input {
    display: flex;
    height: 40px;
    position: relative;
    padding: 11px 0px 11px 38px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--navybluemodal);
    font-family: inherit;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input.comment {
    height: 120px;
    padding-left: 16px;
    resize: none;
}

.form-input:hover,
.form-input:focus {
    border-color: var(--iris);
}

.form-input:hover+ .form-icon,
.form-input:focus+ .form-icon {
    fill: var(--iris);
}

.form-agree-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 24px;
    position: relative;
}

.checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 16px;
    width: 16px;
}

.form-agree-check-box {
    display: inline-block;
    border-radius: 2px;
    fill: none;
    height: 16px;
    width: 16px;
    margin-right: 8px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-agree-check-box:hover,
.form-agree-check-box:focus {
    border: 1px solid var(--ocean);
}

.check-mark-icon {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid var(--navybluemodal);
    cursor: pointer;
}


.checkbox:checked + .form-agree-check-box {
    background-size: contain;
    fill: var(--white);
    border-radius: 2px;
    border: 1px solid var(--ocean);
    background-color: var(--ocean);
}

.form-agree-text {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.48px;
    color: var(--lightslate);
}

.submit-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.submit-btn {
    padding: 16px 32px;
    background-color: var(--iris);
    text-align: center;
    color: var(--white);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.64px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    width: 169px;
    height: 56px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn:hover,
.submit-btn:focus {
    background-color: var(--ocean);
}