@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        margin: 0 auto;
    }

    .list {
        display: flex;
    }

    .header {
        padding: 16px 0;
    }

    .header-logo {
        color: var(--navyblue);
        font-family: Raleway;
        font-size: 18px;
        line-height: 1.17em;
        letter-spacing: 0.54px;
        text-decoration: none;
        text-transform: uppercase;
    }

    .header-logo-text {
        color: var(--iris);
        font-family: Raleway;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.54px;
    }

    .menu-toggle {
        display: none;
    }

    .header-navigation {
        display: inline-flex;
        gap: 76px;
    }

    .header-nav-link {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.32px;
        display: flex;
        color: var(--navyblue);
        gap: 40px;
    }

    .header-nav-item {
        display: inline-block;
        position: relative;
    }

    .header-nav-link::after {
        content: '';
        width: 0;
        height: 4px;
        background-color: var(--ocean);
        border-radius: 2px;
        position: absolute;
        left: 0;
        bottom: -30px;
        transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-nav-item:hover .header-nav-link,
    .header-nav-item:focus .header-nav-link {
        color: var(--ocean);
    }

    .header-nav-item:hover .header-nav-link::after {
        width: 100%;
        color: var(--ocean);
    }

    .header-nav-item.active .header-nav-link::after {
        width: 100%;
    }

    .header-nav-item.active .header-nav-link {
        color: var(--ocean);
    }

    .header-address {
        display: flex;
    }

    .header-address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .header-address-link {
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.48px;
        font-style: normal;
    }

    .header-address-item {
        display: inline-block;
    }

    .header-address-item .header-address-link:hover,
    .header-address-item .header-address-link:focus {
        color: var(--ocean);
    }

    .header-container {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
    }
    
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero/hero-bg-tablet.jpg);
    }

    @media (min-device-pixel-ratio:2),
    (min-resolution:192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../images/hero/hero-bg-tablet@2x.jpg);
        }
    }

    .hero-title {
        font-size: 56px;
        line-height: 60px;
        letter-spacing: 1.12px;
        margin-bottom: 36px;
    }

    .features-list {
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       column-gap: 24px;
       row-gap: 72px;
    }

    .features-list-item {
        width: calc((100% - 24px) / 2 );
    }
    
    .features-list-item-title {
        text-align: left;
    }

    .team-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 64px;
        justify-content: center;
    }

    .customers-logo {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }

    .customers-logo-items {
        width: 168px;
        height: 88px;
    }
    
    .customers-logo-icon {
        width: 104px;
        height: 56px;
    }
    
    .customers-logo-link {
        padding: 16px 32px;
        color: var(--lightslate);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .portfolio-buttons {
        padding: 64px 0;
    }

    .portfolio-buttons-list {
        display: flex;
        gap: 24px;
        justify-content: center;
        align-items: center;
    }

    .portfolio-images {
        padding-bottom: 96px;
    }

    .portfolio-images-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px  ;
    }

    .portfolio-images-items {
        width: calc((100% - 24px) / 2);
    }
    

    .footer-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        column-gap: 24px;
        row-gap: 72px;
    }

    .footer-container-logo {
        display: flex;
        align-items: flex-start;
    }

    .footer-icons {
        display: flex;
        align-items: flex-start;
    }


    .subscribe {
        display: flex;
        align-items: flex-start;
    }

    .footer-subscribe-form {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }

    .footer-label-input {
        width: 264px;
    }

}